{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="/static/experiences.js"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="experiences col-xs-12 col-xs-offset-0">
    <div class="row experience" style="background-image: url('http://cdn.wanderlust.co.uk/contentimages/wanderlust/magazine-08_greece_ready.jpg');">
      <div class="content">
        <h2 class="title">Soak up Santorini</h2>
        <h3 class="location">Santorini, Greece</h3>
        <p class="description">This mini-archipelago in the Cyclades was once a huge volcano, but a super-eruption around 1640BC saw it sink into the sea, leaving only remnants of its craggy caldera to be lapped by the Med. The result is pure Greek-isle fantasy: white-washed houses, steep-stepped alleys leading to old harbours, and traditional tavernas serving fish suppers.</p>
      </div>
    </div>

    <div class="row experience" style="background-image: url('http://cdn.wanderlust.co.uk/contentimages/wanderlust/magazine-06_great_barrier_ready.jpg')">
      <h2 class="title">Dive the Great Barrier Reef</h2>
      <h3 class="location">Great Barrier Reef, Australia</h3>
      <p class="description">This mini-archipelago in the Cyclades was once a huge volcano, but a super-eruption around 1640BC saw it sink into the sea, leaving only remnants of its craggy caldera to be lapped by the Med. The result is pure Greek-isle fantasy: white-washed houses, steep-stepped alleys leading to old harbours, and traditional tavernas serving fish suppers.</p>
      <!-- <img src=""> -->
    </div>

    <div class="row experience" style="background-image: url('http://cdn.wanderlust.co.uk/contentimages/wanderlust/magazine-02_hebrides_ready.jpg')">
      <h2 class="title">Roam the Outer Hebrides</h2>
      <h3 class="location">Outer Hebrides, Scotland</h3>
      <p class="description">This mini-archipelago in the Cyclades was once a huge volcano, but a super-eruption around 1640BC saw it sink into the sea, leaving only remnants of its craggy caldera to be lapped by the Med. The result is pure Greek-isle fantasy: white-washed houses, steep-stepped alleys leading to old harbours, and traditional tavernas serving fish suppers.</p>
      <!-- <img src=""> -->
    </div>
  </div>
</div>

{% endblock %}
