{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="/static/experiences.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock %}

{% block content %}

<div class="top-bar">
  <img class="close-info hidden" src="/static/img/back-button.svg" onerror="this.src='/static/img/back-button.png'">
  <img class="logo" src="/static/img/logo.svg" onerror="this.src='/static/img/logo.png'">
</div>

<div class="container experiences">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0">
      {% for experience in experiences %}
        <div class="row experience" data-title="{{ experience.experience }}" data-location="{{ experience.place }}" data-price="{{ experience.experience_price }}">
          <div class="image-container" style="background-image: url('{{ experience.image }}');">
            <div class="overlay">
              <h2 class="title">{{ experience.experience }}</h2>
              <p class="country">{{ experience.place }}</p>
              <button type="button" class="btn btn-junction experience-info">Book Now</button>
            </div>
          </div>
          <p class="description">{{ experience.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container reserve hidden">
  <div class="location origin">
    <span class="pinpoint">A</span>
    <h3 class="city">Helsinki</h3>
    <h4 class="country">Finland</h4>
  </div>

  <div class="location destination">
    <span class="pinpoint">B</span>
    <h3 class="city">Dive the Great Barrier Reef</h3>
    <h4 class="country">Australia</h4>
  </div>

  <div class="info-box flight-info">
    <img class="icon plane-icon" src="/static/img/plane.svg" onerror="this.src='/static/img/plane.png'">
    <p><span>from</span> 1200 &euro; </p>
  </div>

  <div class="info-box airbnb-info">
    <img class="icon airbnb-icon" src="/static/img/airbnb.svg" onerror="this.src='/static/img/airbnb.png'">
    <p><span>from</span> 43 &euro; / night</p>
  </div>

  <div class="info-box experiment-info">
    <img class="icon experience-icon" src="/static/img/experience.svg" onerror="this.src='/static/img/experience.png'">
    <p> 200e</p>
  </div>

  <div class="total">
    <p>Total 1445e</p>
  </div>

  <button type="button" class="btn btn-junction btn-full-width book">
    Book all
  </button>

</div>
{% endblock %}
