<!DOCTYPE html>
<html>
  <head>
    <title>Junction Jiiri</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/custom-bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/helpers.js"></script>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    {% block javascript %}
    {% endblock %}
 </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
