{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript" src="/static/questions.js"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="questions col-xs-12 col-xs-offset-0">
    <div class="row question question-1">
      <p>Jiiri or Jaari?</p>
      <div class="answer">
        <button type="button" class="option-1 btn btn-success" data-answer=""></button>
        <button type="button" class="option-2 btn btn-danger" data-answer=""></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
